<!doctype html>
<html ng-app="qma">
<head>
    <meta charset="UTF-8"/>
    <title>messBuster</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <style>
        body {
        padding-top: 55px;
        }
    </style>
</head>
<body ng-controller="TestController">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <span class="brand">MessBuster</span>
        <ul class="nav">
            <li>
                <div ng-click="verbose = !verbose">
                    <button type="button" ng-show="!verbose" class="btn btn-inverse">
                        Enable verbose mode
                    </button>
                    <button type="button" ng-show="verbose" class="btn btn-inverse">
                        Disable verbose mode
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">

            <div ng-include src="'sidebar.html'"></div>

        </div>

        <div class="span9">

            <div ng-view></div>

        </div>
    </div>
</div>

<script src="data.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="js/controllers.js"></script>
<!-- <script src="lib/bootstrap/js/bootstrap.min.js"></script> -->

<script type="text/ng-template" id="welcome.html">
    <blockquote>
        <h1>MessBuster</h1>

        <p>Pierwszy na świecie asystent modeli qcadoo o napędzie awesomeowym!</p>

        <p>
            <small>Marcin Kubala</small>
        </p>
    </blockquote>
</script>

<script type="text/ng-template" id="sidebar.html">
    <div class="well">

        <form class="form-search pull-right">
            <div class="input-append">
                <input ng-model="modelsFilterText.$" type="text" class="input-medium search-query"
                       placeholder="Search"/>
                <button class="btn" type="submit" ng-click="modelsFilterText = ''"><i class="icon-remove"></i></button>
            </div>
        </form>

        <ul class="nav nav-list" id="mainNavList">
            <li ng-repeat="plugin in menuStruct | orderBy:'name' | filter:modelsFilterText">
                <a href="#/plugin/{{plugin.name}}" ng-click="toggleMenuGroupVisible(plugin.name)">{{plugin.name}}</a>

                <ul class="nav nav-list" ng-show="isMenuGroupVisible(plugin.name) || modelsFilterText.$">
                    <li ng-repeat="model in plugin.models | orderBy:'name' | filter:modelsFilterText"
                        ng-class="isActive(plugin.name, model.name)">
                        <a href="#/model/{{plugin.name}}-{{model.name}}">{{model.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="pluginDetails.html">
    <div>
        <h3>Plugin {{plugin.identifier}}</h3>

        <p>{{plugin.pluginInfo.description}}</p>
        <h4>Dependencies ({{plugin.pluginInfo.dependencies.length}})</h4>

        <p ng-show="plugin.pluginInfo.dependencies.length == 0">There is no dependencies to display</p>
        <ul>
            <li ng-repeat="dependency in plugin.pluginInfo.dependencies">
                <a href="#/plugin/{{dependency}}">{{dependency}}</a>
            </li>
        </ul>
        <h4>Constants</h4>

        <p>TODO</p>
    </div>
</script>


<script type="text/ng-template" id="modelDetails.html">
    <div>
        <h3>
            <small><a href="#/plugin/{{model.pluginIdentifier}}">{{model.pluginIdentifier}}</a> /</small>
            {{model.name}}
        </h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <h3>Fields</h3>
                </th>
                <th>
                    <form class="form-search pull-right">
                        <div class="input-append">
                            <input ng-model="modelFieldsFilter.$" id="modelFieldssFilter" type="text"
                                   class="search-query" placeholder="Search in fields.."/>
                            <button class="btn" type="submit" ng-click="modelFieldsFilter.$ = ''"><i
                                    class="icon-remove"></i></button>
                        </div>
                    </form>
                </th>
            </tr>
            <tr>
                <th style="width: 100px;"
                    ng-click="fieldsReverseOrder = !fieldsReverseOrder; fieldsOrderBy = 'fieldType.name'">Type
								<span ng-show="fieldsOrderBy == 'fieldType.name'">
									<i class="icon-arrow-up" ng-show="!fieldsReverseOrder"></i>
									<i class="icon-arrow-down" ng-show="fieldsReverseOrder"></i>
								</span>
                </th>
                <th ng-click="fieldsReverseOrder = !fieldsReverseOrder; fieldsOrderBy = 'name'">Name
								<span ng-show="fieldsOrderBy == 'name'">
									<i class="icon-arrow-up" ng-show="!fieldsReverseOrder"></i>
									<i class="icon-arrow-down" ng-show="fieldsReverseOrder"></i>
								</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="field in model.fields | orderBy:fieldsOrderBy:fieldsReverseOrder | filter:modelFieldsFilter"
                ng-class="getMarkedClass(field)" scroll-if="shouldScroll(field)">
                <td style="width: 100px;">
                    <span class="pull-right">{{field.fieldType.name}}</span>
                </td>
                <td>
                    <strong>{{field.name}}</strong>
                    <ng-include src="field.fieldType.name"></ng-include>
                    <small ng-show="verbose">{{field | json}}</small>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-stripped table-hover">
            <thead>
            <tr>
                <th>
                    <h3>Hooks</h3>
                </th>
                <th>
                    <form class="form-search pull-right">
                        <div class="input-append">
                            <input ng-model="modelHooksFilter.$" id="modelHooksFilter" type="text" class="search-query"
                                   placeholder="Search in hooks.."/>
                            <button class="btn" type="submit" ng-click="modelHooksFilter.$ = ''"><i
                                    class="icon-remove"></i></button>
                        </div>
                    </form>
                </th>
            </tr>
            <tr>
                <th style="width: 100px;" ng-click="hooksReverseOrder = !hooksReverseOrder; hooksOrderBy = 'hookType'">
                    Type
								<span ng-show="hooksOrderBy == 'hookType'">
									<i class="icon-arrow-up" ng-show="!hooksReverseOrder"></i>
									<i class="icon-arrow-down" ng-show="hooksReverseOrder"></i>
								</span>
                </th>
                <th ng-click="hooksReverseOrder = !hooksReverseOrder; hooksOrderBy = 'hookClass'">Method
								<span ng-show="hooksOrderBy == 'hookClass,hookMethod'">
									<i class="icon-arrow-up" ng-show="!hooksReverseOrder"></i>
									<i class="icon-arrow-down" ng-show="hooksReverseOrder"></i>
								</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="hook in model.hooks | orderBy:hooksOrderBy:hooksReverseOrder | filter:modelHooksFilter">
                <td style="width: 100px;">
                    <span class="pull-right">{{hook.hookType}}</span>
                </td>
                <td>
                    {{
                    pkgAndName = getClassPkgAndName(hook.hookClass);
                    null;
                    }}
                    <small>{{pkgAndName.classPackage}}</small>
                    .{{pkgAndName.className}}.<strong>{{hook.hookMethod}}</strong>
                    <ng-include src="'injectorLink'" onload="element = hook"></ng-include>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="belongsTo">
<p>

include src="'assocLink'"></ng-include>

include src="'commonFieldAttributes'"></ng-include>


<
ript>


ipt type="text/ng-template" id="collectionField">


include src="'assocLink'"></ng-include>

>cascade:

n class="label label-important" ng-show="field.fieldType.cascade == 'delete'">delete</span>

n class="label label-warning" ng-show="field.fieldType.cascade == 'nullify'">nullify</span>

include src="'commonFieldAttributes'"></ng-include>


<
ript>


ipt type="text/ng-template" id="hasMany">

include src="'collectionField'"></ng-include>
<
ript>


ipt type="text/ng-template" id="manyToMany">

include src="'collectionField'"></ng-include>
<
ript>


ipt type="text/ng-template" id="tree">

include src="'collectionField'"></ng-include>
<
ript>


ipt type="text/ng-template" id="string">


include src="'commonFieldAttributes'"></ng-include>


<
ript>


ipt type="text/ng-template" id="dictionary">


include src="'commonFieldAttributes'"></ng-include>


<
ript>


ipt type="text/ng-template" id="integer">

include src="'defaultFieldTemplate'"></ng-include>
<
ript>


ipt type="text/ng-template" id="password">

include src="'defaultFieldTemplate'"></ng-include>
<
ript>


ipt type="text/ng-template" id="text">

include src="'defaultFieldTemplate'"></ng-include>
<
ript>


ipt type="text/ng-template" id="decimal">

include src="'defaultFieldTemplate'"></ng-include>
<
ript>


ipt type="text/ng-template" id="datetime">

include src="'defaultFieldTemplate'"></ng-include>
<
ript>


ipt type="text/ng-template" id="date">

include src="'defaultFieldTemplate'"></ng-include>
<
ript>


ipt type="text/ng-template" id="boolean">

include src="'defaultFieldTemplate'"></ng-include>
<
ript>


ipt type="text/ng-template" id="enum">


include src="'injectorLink'" onload="element = field"></ng-include>

include src="'fieldParameters'"></ng-include>


es: <span class="label" ng-repeat="value in field.fieldType.values">{{value}}</span>


include src="'fieldValidators'"></ng-include>


<
ript>


ipt type="text/ng-template" id="priority">

include src="'defaultFieldTemplate'"></ng-include>
<
ript>


ipt type="text/ng-template" id="file">

include src="'defaultFieldTemplate'"></ng-include>
<
ript>


ipt type="text/ng-template" id="defaultFieldTemplate">


include src="'commonFieldAttributes'"></ng-include>


<
ript>


ipt type="text/ng-template" id="commonFieldAttributes">

include src="'injectorLink'" onload="element = field"></ng-include>

include src="'fieldParameters'"></ng-include>

include src="'fieldValidators'"></ng-include>
<
ript>


ipt type="text/ng-template" id="fieldParameters">

class="fieldParameters">


meters = field.fieldType.parameters;

;


n class="label label-warning" ng-show="parameters.readonly">read-only</span>

n class="label" ng-show="verbose &amp;&amp; !parameters.readonly">read-write</span>

n class="label label-warning" ng-show="!parameters.persistent">not-persistent</span>

n class="label" ng-show="verbose &amp;&amp; parameters.persistent">persistent</span>

n class="label label-warning" ng-show="parameters.required">required</span>

n class="label" ng-show="verbose &amp;&amp; !parameters.required">not-required</span>

n class="label label-warning" ng-show="parameters.unique">unique</span>

n class="label" ng-show="verbose &amp;&amp; !parameters.unique">not-unique</span>

n class="label label-info" ng-show="parameters.default">default: '{{parameters.default}}'</span>

n class="label" ng-show="verbose &amp;&amp; !parameters.default">without default</span>

n class="label label-info" ng-show="parameters.copyable">copyable</span>

n class="label" ng-show="!parameters.copyable">not-copyable</span>

v>
<
ript>


ipt type="text/ng-template" id="fieldValidators">

class="row-fluid" ng-show="field.validators.length > 0 || field.implicitValidators.length > 0">

class="span1"></div>

class="span6 fieldValidators">

le class="table table-condensed table-bordered">

ad>


colspan="2">Validators</th>

>

ead>

dy>

ng-repeat="validator in field.validators | orderBy:validatorType">

class="span3">
									<span class="pull-right">
									{{validator.validatorType}}
									</span>


class="pull-right">

n class="label label-important" ng-show="!validator.hasCorrectFieldType">incompatible with field type!</span>

v>

>


include src="validator.validatorType"></ng-include>

>

>

ng-repeat="validator in field.implicitValidators | orderBy:validatorType">

class="span3">
									<span class="pull-right">
									{{validator.validatorType}}
									</span>


class="pull-right">

n class="label label-important" ng-show="!validator.hasCorrectFieldType">incompatible with field type!</span>

v>

>


include src="validator.validatorType"></ng-include>

n class="label label-warning">implicit</span>

>

>

ody>

ble>

v>

v>
<
ript>


ipt type="text/ng-template" id="validatesUnscaledValue">

include src="'validatesLength'"></ng-include>
<
ript>


ipt type="text/ng-template" id="validatesScale">

include src="'validatesLength'"></ng-include>
<
ript>


ipt type="text/ng-template" id="validatesLength">


ms = validator.params;

;


n class="label label-info" ng-show="isDefined(params.min)">&ge; {{params.min}}</span>

n class="label label-info" ng-show="isDefined(params.is)">&equiv; {{params.is}}</span>

n class="label label-info" ng-show="isDefined(params.max)">&le; {{params.max}}</span>
<
ript>


ipt type="text/ng-template" id="validatesRange">


ms = validator.params;

;


n class="label label-info" ng-show="isDefined(params.from)">&ge; {{params.from}}</span>

n class="label label-info" ng-show="isDefined(params.to)">&le; {{params.to}}</span>

n class="label label-warning" ng-show="isDefined(params.exclusively)">exclusively</span>
<
ript>


ipt type="text/ng-template" id="assocLink">


inId = field.fieldType.relatedModel.pluginIdentifier || model.pluginIdentifier;

lName = field.fieldType.relatedModel.modelName;

Field = field.fieldType.joinField;

;

    		<span class="assocLink">
				<i class="icon-share-alt"></i>
				<a href="#/plugin/{{pluginId}}">{{pluginId}}</a>
				/
				<a href="#/model/{{pluginId}}-{{modelName}}">{{modelName}}</a>
				<span ng-show="joinField">
					@
					<a ng-show="joinField" hre
                            ="#/model/{{pluginId}}-{{modelName}}/field/{{joinField}}">{{joinField}}</a>
				</span>
			</span>
<
ript>


ipt type="text/ng-template" id="injectorLink">

class="injectorLink" ng-show="element.injectorPlugin">

lass="icon-random"></i> Injected from <a href="#/plugin/{{element.injectorPlugin}}">{{element.injectorPlugin}}</a>

v>
<
ript>


dy>
</html>
